{% extends 'rango/base.html' %}
{% load static %}


{% block content  %}
    <h1 class="display-4">Login </h1>
    <form id="login_form" class="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    Username: <input class="form-control" type="text" name="username" value="" size="50" />
    <br />
    Password: <input class="form-control" type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" class="btn btn-success" value="submit" />

    </form>
    <p class="p-4 m-3">Not a Member?<a href="{%url 'register' %}">Register Here...</a></p>
{% endblock %}
